.white {
  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.light-brown {
  background-color: #b9ac9e;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.light-blue {
  background-color: #a9bfd4;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.orange {
  background-color: #eab676;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
